html, body {
	background: #ffffff;
	margin: 0;
	padding: 1%;
	width: 98%;
	height: 100%;
	background-image: url("/SATAMON/frontend/img/ganesha.jpg");
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	position: relative;
	font-face: tahoma;
	font-size: 14px;
}
a {
	color: #2b2bf6;
}